build/
.gradle/
gradle/
.metadata/
*.DS_Store
*.classpath
*.project
*.iml
.settings/
/bin
.idea/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
